<a href="/">Back</a>

{{!-- form --}}
<form method="GET" action="/myLists">
    List Name: <input type="text" name="queryName">
    <input type="submit" value="Filter">
</form>


{{list}}
{{!-- table --}}
{{!-- <div class="table">
    <table>
        <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Professor</th>
            <th>Review</th>
        </tr>
        {{#each reviews as |review|}}
        <tr>
            <td>{{review.courseNumber}}</td>
            <td>{{review.courseName}}</td>
            <td>{{review.semester}}</td>
            <td>{{review.year}}</td>
            <td>{{review.professor}}</td>
            <td>{{review.review}}</td>
        </tr>
        {{/each}}
    </table>
</div> --}}